@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestión de Ventas</h1>
<span class="lead">Diseña un sistema usando .net  para gestionar productos y clientes, incluyendo ventas. Tablas: `Productos` (producto_id, nombre, descripcion, precio, stock), `Clientes` (cliente_id, nombre, apellido, email, telefono).</span>
    <p>Desarrollado por Edwin Ortega</p>
</div>
